<?php
return array(
	'aws' => array(
        'http' => array(
            'verify' => false
        )
    ),
    's3' => array(
        'client' => array(
            'key' => '8YAJRMWWCK6XGKY2TTQ',
            'secret' => 'Xz+JjwpVcjD9Lj3XDrjJcwwSNhH0Z2Yrkp9DoSUU'
        ),
        'bucket' => array(
            'name' => 'aqilix',
            'acl'  => 'public-read',
        ),
        'fields' => array(
            'path'  => array('key_prefix' => 'tests'),
            'thumbPath' => array('key_prefix' => 'tests/thumbs')
        )
    )
);
